<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jazzyweb.tekila" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".compras.AddOrEditCompraActivity"
            android:label="@string/title_activity_add_compra"
            android:parentActivityName=".main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".grupos.GrupoActivity"
            android:label="@string/title_activity_grupos"
            android:parentActivityName=".main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jazzyweb.tekila.MainActivity" />
        </activity>
        <activity
            android:name=".grupos.AddOrEditGrupoActivity"
            android:label="@string/title_activity_add_or_edit_grupo"
            android:parentActivityName=".grupos.GrupoActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jazzyweb.tekila.GruposActivity" />
        </activity>
        <activity
            android:name=".usuarios.UsuarioActivity"
            android:label="@string/title_activity_usuarios"
            android:parentActivityName=".main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jazzyweb.tekila.MainActivity" />
        </activity>
        <activity
            android:name=".usuarios.AddOrEditUsuarioActivity"
            android:label="@string/title_activity_add_or_edit_usuario"
            android:parentActivityName=".usuarios.UsuarioActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jazzyweb.tekila.GruposActivity" />
        </activity>
    </application>

</manifest>
